		<!--R4HEADER-id1-->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Language" content="pt-br">
		<meta name="Description" content="Contrat.io">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#2196f3"/>

		<link rel="manifest" href="manifest.json">
		<link rel="shortcut icon" href="_assets/icons/favicon.ico">
		<link rel="apple-touch-icon" href="_assets/icons/icon-192x192.png">

		<link rel="stylesheet" type="text/css" href="_vendor/r4/src/css/global.css" />
		
		<script defer src="_vendor/r4/src/js/dialog.class.js"></script>
		<script defer src="_vendor/r4/src/js/effects.class.js"></script>
		<script defer src="_vendor/r4/src/js/fields.class.js"></script>
		<script defer src="_vendor/r4/src/js/pop.class.js"></script>
		<script defer src="_vendor/r4/src/js/r4.class.js"></script>
		<script defer src="_vendor/r4/src/js/table.class.js"></script>
		<script defer src="_vendor/r4/src/js/warning.class.js"></script>
		<!--/R4HEADER-->